.barchart {
  grid-column: 2 / 11;
  grid-row: 3 / 8;
  background-color: #fbfbfb;
}

.linechart {
  justify-self: start;
  background-color: #ff0000;
  border-radius: 5px;
  &_title {
    position: absolute;
    margin: 15px 0 0 15px;
    width: 10%;
    z-index: 10;
    font-size: 15px;
    color: #FFFFFFe9;
  }
  &_tooltip {
    background-color: #ffffff;
    font-size: 10px;
    padding: 1px 10px;
  }
}

.radarchart {
  background-color: #282D30;
  border-radius: 5px;
}

.radialBarchart {
  background-color: #fbfbfb;
}
