.dashboard {
  grid-column: 2 / 11;
  grid-row: 3 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  &_title {
    grid-column: 2 / 13;
    margin: 0;
    font-size: 48px;
    &_name {
      color: #ff0101;
    }
    &_small {
      font-size: 18px;
    }
  }
}
